http://collabedit.com/4yen9

# Datatypes

In [1]:
i = 10
type(i)

# i is object of integer type holds value 10

int

In [2]:
print(type(i))
print(i)

<class 'int'>
10

## Strings
- Collection of characters 
- Declared inside doublr or single quotes.
- Immutable

In [3]:
a = 'Jupyter Notebook'

type(a)

str

In [4]:
# len : fun to find lenght of string

len(a)

16

### Indexing

- Index start by 0 to len-1.
- use sunscript operator to access elements.

In [5]:
# Accessing characters of string using index.

# Positive Indexing

a[0]

'J'

In [6]:
# Accessing multiple characters

a[0:4]

'Jupy'

In [7]:
# Negative Indexing

a[-1]

'k'

In [8]:
# Accessing multiple characters

a[0:-2]

'Jupyter Notebo'

### Slicing
- Extracting substring from string
- str[start_position : end_position] |  str[start : ]  |  str[: end]
- by default direction for slcing is from left to right
- We don't get error for index overbound
- a[] will give error since ( : ) start or end position is not defined
#### [::] -Explore More for this.
- Negative index will reverse string
- positive index will give the string with alternate spaces i.e. [::2] will give 1st,3rd,5th char

In [9]:
a[0:4]

'Jupy'

In [10]:
a[0:-4]

'Jupyter Note'

In [11]:
a[: - 4]

# start from 0 and exclude last 4

'Jupyter Note'

In [12]:
a[5 : ]

# start from 5 go till end

'er Notebook'

In [13]:
a[-3 : ]

# start from last third letter go till end

'ook'

In [14]:
a[-4 : -1]

# start from last fourth letter go till last 1st

'boo'

In [15]:
a[-5 : 6]

''

In [16]:
a[::-2]

'koeo eyu'

In [17]:
a[::-1] # reversed string

'koobetoN retypuJ'

In [18]:
a[::2] # letter after 1 spaces | Alternate letters

'JptrNtbo'

### Class Excersice: Extract 'Class' from string

In [19]:
msg = "Welcome to Python Programming Class"
msg[-5:]

'Class'

- We can't add string with integer without type changing
- " * ": can be used for multiplication and repetition

In [57]:
a * 3

'Jupyter NotebookJupyter NotebookJupyter Notebook'

### Replace(): replaces a letter

In [63]:
name1 = 'deepali'

name1.replace('ee', 'i')

'dipali'

# List
- Ordered collection of objects
- Sybtax: list[]
- Mutable
- Obj seperated by comma
- Accessing objects by index same as strings

In [21]:
Language = ['C', 'C++', 'Python', 'R', 'Java', 'SQL']
type(Language)

list

In [22]:
Language[1]

'C++'

In [23]:
Language[-1]

'SQL'

In [24]:
Language[:3]

['C', 'C++', 'Python']

In [25]:
Language[: -1]

['C', 'C++', 'Python', 'R', 'Java']

### Double operator: Accessing the characters of substring

In [26]:
Language[-1][-2]

'Q'

In [27]:
Language[2][0]

# 3rd substring, 1st character.

'P'

### * : Repeating elements of string

In [28]:
Language * 3

# It won't chage list but repeat it's substrings/objects in same list.

['C',
 'C++',
 'Python',
 'R',
 'Java',
 'SQL',
 'C',
 'C++',
 'Python',
 'R',
 'Java',
 'SQL',
 'C',
 'C++',
 'Python',
 'R',
 'Java',
 'SQL']

### Append()

In [29]:
Language.append('PHP')
Language

['C', 'C++', 'Python', 'R', 'Java', 'SQL', 'PHP']

### Insert()
- Adding an element at desired Location

In [30]:
help(list.insert)

Help on method_descriptor:

insert(self, index, object, /)
    Insert object before index.

In [31]:
Language.insert(0, 'Ruby')
Language

['Ruby', 'C', 'C++', 'Python', 'R', 'Java', 'SQL', 'PHP']

In [32]:
Language.insert(-1, 'Css')
Language

['Ruby', 'C', 'C++', 'Python', 'R', 'Java', 'SQL', 'Css', 'PHP']

### len(list): Will give count of list

In [33]:
# Count of list

print(len(Language))

9

### del list[index]

- We can delete multiple elements using this keyword

In [34]:
del Language[0:1]
Language

['C', 'C++', 'Python', 'R', 'Java', 'SQL', 'Css', 'PHP']

#### We can delete 1 element at a time only

### Remove()
- It works with value ony and not work with index

In [35]:
Language.remove('PHP')
Language

['C', 'C++', 'Python', 'R', 'Java', 'SQL', 'Css']

### Pop()
- Removing elements by index 
- Without index, it will automatically delete last element

In [36]:
Language.pop(2)

'Python'

In [37]:
Language

['C', 'C++', 'R', 'Java', 'SQL', 'Css']

In [38]:
Language.pop(-1)

'Css'

In [39]:
Language

['C', 'C++', 'R', 'Java', 'SQL']

In [40]:
Language.pop()

'SQL'

In [41]:
Language

['C', 'C++', 'R', 'Java']

### Double Subscript Operator [][]:
Accessing elements of objects in list

In [42]:
languages = ['C#', 'Golang', 'Scala']

languages[1][0:4]

'Gola'

In [43]:
Language.append(languages)
Language

['C', 'C++', 'R', 'Java', ['C#', 'Golang', 'Scala']]

### Extend
- It adds each elements in list as new/seperate elements by extending list.
- Not like list inside list
- appending list1 adds list1 to existing list as it is

In [44]:
numlist = [10,20,30]

In [46]:
Language.extend(numlist)
Language

['C', 'C++', 'R', 'Java', ['C#', 'Golang', 'Scala'], 10, 20, 30, 10, 20, 30]

### Count

In [54]:
Language.count(10)

2

In [55]:
Language.count('R')

1

### Index

In [52]:
Language.index('R')

2

# id(variable) : Returns memory address

In [56]:
name = 'Deepali'
id(name)

1645243909104

### Sort()

In [64]:
languages = ["C", "Ruby", "Perl", "Python", "Java"]

In [66]:
languages.sort()
languages

['C', 'Java', 'Perl', 'Python', 'Ruby']

In [67]:
languages.sort(reverse = True)
languages

['Ruby', 'Python', 'Perl', 'Java', 'C']

# Tuple
- Ordered collection of heterogenous elements
- Syntax: tuple()
- Immutable : No {Insertion, Delation, Manipulation}
- If interpreter doesn't identify type of variable, it takes it as tuple. [E.g. rs]

In [83]:
Courses = ('DS', 'DA', 'AI', 'DE', 'Fullstack', 'WebDev', 'DA')

In [84]:
type(Courses)

tuple

In [85]:
Courses[1]

'DA'

In [88]:
Courses[-3]

'Fullstack'

In [89]:
Courses[1:-1]

('DA', 'AI', 'DE', 'Fullstack', 'WebDev')

In [92]:
Courses.index('Fullstack')

4

In [94]:
Courses[4][0:3]

'Ful'

In [91]:
Courses.count('DA')

2

## Packing
- It takes all elements seperated by comma and packs it together and assigns it to tuple.

In [97]:
rs = 'a' , 30, 'b'
type(rs)

tuple

In [99]:
speed = 'high'   # No comma
type(speed)

str

In [101]:
speed1 = 'Slow' , 
type(speed1)

tuple

# in Keyword
- To check whethehr that that element is there in string/list etc

In [105]:
'i' in speed

True

In [109]:
'DA' in Courses

True

In [107]:
'i' not in speed

False

## Multiple objects in tuple

In [110]:
fruits = ('Mango', 'Cherry', [10,20,30], 'Apple')

In [111]:
type(fruits)

tuple

In [112]:
len(fruits)

4

In [114]:
fruits[2].append(40)
fruits


# It's not modifying touple, but we are just extending the list inside touple.

('Mango', 'Cherry', [10, 20, 30, 40, 40], 'Apple')

In [117]:
fruits[2][4] = 50
fruits

# We can perform all operations of list inside tuple.

('Mango', 'Cherry', [10, 20, 30, 40, 50], 'Apple')

# Raw String
- Fetch string as it is

In [126]:
location = 'C:\newfolder'
print(location)

# It took '\n' format specifier

C:
ewfolder

In [123]:
location = 'C:\\newfolder'
print(location)


# Can use double \\ to avoid problem

C:\newfolder

In [125]:
location = r'C:\newfolder'
print(location)


# 'r' for raw string

C:\newfolder

# Format()

In [127]:
Sessions = 10
chapters = 8

In [128]:
type(chapters)

int

In [134]:
message = 'The course will have ' + str(chapters) + ' chapters spanned across' + str(Sessions) + 'sessions.' 
message

# 2 type changing of variables and 3 strings got proceesed

'The course will have 8 chapters spanned across10sessions.'

In [133]:
message1 = 'The course will have {} chapters spanned across {} sessions.'.format(chapters, Sessions) 
message1


# It will improve performace since there is only 1 string that got proceesed.

'The course will have 8 chapters spanned across 10 sessions.'

# Dictionary
- Non ordered collection of elements.
- Collection of key : Value-Pair format
- Syntax: {}
- Mutable
- Not based on index, based on key
- Accessing elements using key values
#### Also called as Maps / Hash Maps

In [3]:
Catelog = {'Roll_no' : [1,2,3], 'Name': ['Deepali', 'Anushka', 'Rushi'], 'City': ['Nashik', "Nashik", 'Pune']}
Catelog

{'Roll_no': [1, 2, 3],
 'Name': ['Deepali', 'Anushka', 'Rushi'],
 'City': ['Nashik', 'Nashik', 'Pune']}

In [4]:
type(Catelog)

dict

In [5]:
Catelog['Roll_no']

[1, 2, 3]

In [6]:
'City' not in Catelog

False