# Dictionary
- Non ordered collection of elements.
- Collection of key : Value-Pair format
- Syntax: {}
- Mutable
- Not based on index, based on key
- Accessing elements using key values
- Also called as Maps / Hash Maps


## Misc(keys, values, item)

In [1]:
Catelog = {'Roll_no' : [1,2,3], 'Name': ['Deepali', 'Anushka', 'Rushi'], 'City': ['Nashik', "Nashik", 'Pune']}
Catelog

{'Roll_no': [1, 2, 3],
 'Name': ['Deepali', 'Anushka', 'Rushi'],
 'City': ['Nashik', 'Nashik', 'Pune']}

In [2]:
Catelog.keys()

dict_keys(['Roll_no', 'Name', 'City'])

In [3]:
Catelog.values()

dict_values([[1, 2, 3], ['Deepali', 'Anushka', 'Rushi'], ['Nashik', 'Nashik', 'Pune']])

In [4]:
Catelog.items()

dict_items([('Roll_no', [1, 2, 3]), ('Name', ['Deepali', 'Anushka', 'Rushi']), ('City', ['Nashik', 'Nashik', 'Pune'])])

In [5]:
del Catelog['City']

In [6]:
Catelog

{'Roll_no': [1, 2, 3], 'Name': ['Deepali', 'Anushka', 'Rushi']}

In [7]:
'City' not in Catelog

True

In [8]:
'Roll_no' in Catelog.values()

False

# Range

- use to generate series/Sequence of numbers
- start(included) / stop(excuded) / step / count
- datatype used for range : 'Integer'

- by default it won't allocate memory 
- if you make it list or tuple, then it get allocated memory and will store the metadata only
like it won't allocate memory for all members but only some elements

In [9]:
# 0 included, 11 excluded

r = range(0,11)

In [10]:
type(r)

range

In [11]:
list(r)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
tuple(r)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

- range in python3 is same as xrange python2 series - More optimised
- xrange python2 series always returns list
- range in python3 will have datatype as 'range' only

In [13]:
# start - stop - step

r2 = range(5,50,5)

In [14]:
list(r2)

[5, 10, 15, 20, 25, 30, 35, 40, 45]

- If start is not given, by defalut range will start from 0

In [15]:
r3 = range(10)

In [16]:
list(r3)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

- we can't use float values here

### Revers index

In [17]:
r4 = range(100, 0, -10)

In [18]:
list(r4)

[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

# Sets

- Unique collection of IMMUTABLE items/object/elements
- So duplicate elements are not allowed here like in tuple/list
- Mutable
- Syntax : {}
- We can add elements to set

In [33]:
a = set('BANGALORE')
a

{'A', 'B', 'E', 'G', 'L', 'N', 'O', 'R'}

In [34]:
b = set('SINGAPORE')
b

{'A', 'E', 'G', 'I', 'N', 'O', 'P', 'R', 'S'}

In [35]:
# UNION

a | b

{'A', 'B', 'E', 'G', 'I', 'L', 'N', 'O', 'P', 'R', 'S'}

In [36]:
len(a | b)

11

In [37]:
a.union(b)

{'A', 'B', 'E', 'G', 'I', 'L', 'N', 'O', 'P', 'R', 'S'}

In [38]:
# Difference

a - b

{'B', 'L'}

In [39]:
a.difference(b)

{'B', 'L'}

In [40]:
# Elements in b only

b - a

{'I', 'P', 'S'}

In [41]:
# Intersection

In [42]:
a & b

{'A', 'E', 'G', 'N', 'O', 'R'}

In [43]:
a.intersection(b)

{'A', 'E', 'G', 'N', 'O', 'R'}

### Adding elements

In [44]:
a.add('TEST')

In [45]:
a

{'A', 'B', 'E', 'G', 'L', 'N', 'O', 'R', 'TEST'}

- It will add elements randomly anywhere
- It doesn't maintain any order

### Empty set

In [46]:
z = {}

In [47]:
type(z)

dict

In [48]:
z = set()

In [49]:
type(z)

set

### Adding Elemets

- You can only add immutable elements to set. E.g. Tuple
- You cant add list/dictionary to set
- If you add same touple / values multiple times, you won't get error but the set will print unique values only

In [50]:
z.add(10)

In [51]:
z.add(('java', 'python'))

In [53]:
# z.add(['R', 'Ruby'])

In [54]:
z.add('C')

In [55]:
z

{('java', 'python'), 10, 'C'}

In [56]:
z.add(('java', 'python'))

In [57]:
z

{('java', 'python'), 10, 'C'}