In [1]:
# Square or elements in range:

r = range(1,11)

In [2]:
result = []

In [3]:
for i in r:
    result.append( i * i )

In [4]:
print(result)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# Comprehensions

## List comprehension

### Example 1:

In [5]:
# list = [ouput_element   for-loop   condition]

result = [i*i for i in r]

In [6]:
result

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Example 2:

- write a program to get numbers divisible by 2 using LC

In [7]:
result = [i for i in range(1,11) if i % 2 == 0]

In [8]:
result

[2, 4, 6, 8, 10]

### Example 3:

- From string, extract all the consonents

In [9]:
subject = 'MATHEMATICS'

result = []

In [10]:
for i in subject:
    if i not in 'AEIOU':
        result.append(i)

In [11]:
result

['M', 'T', 'H', 'M', 'T', 'C', 'S']

In [12]:
subject = 'MATHEMATICS'
vowels = ['A','E','I','O','U']
result = [elem for elem in subject if elem not in vowels]

In [13]:
print([i for i in subject if i not in 'AEIOU'])

['M', 'T', 'H', 'M', 'T', 'C', 'S']

### Example 4:

-

In [14]:
websites = ["amazon", "flipkart", "snapdeal", "paytm"]
extensions = ["com", "org", "in"]

In [15]:
result = ["www.{}.{}".format(web,ext) for web in websites for ext in extensions]

In [16]:
result

['www.amazon.com',
 'www.amazon.org',
 'www.amazon.in',
 'www.flipkart.com',
 'www.flipkart.org',
 'www.flipkart.in',
 'www.snapdeal.com',
 'www.snapdeal.org',
 'www.snapdeal.in',
 'www.paytm.com',
 'www.paytm.org',
 'www.paytm.in']

###  Example 4:

In [17]:
s = 'Welcome to the world of python programming'

In [18]:
# Output = [(welcome, 7), (to, 2),...]

In [19]:
result = []

In [20]:
for i in s.split():
    result.append((i, len(i)))
print(result)

[('Welcome', 7), ('to', 2), ('the', 3), ('world', 5), ('of', 2), ('python', 6), ('programming', 11)]

In [21]:
result

[('Welcome', 7),
 ('to', 2),
 ('the', 3),
 ('world', 5),
 ('of', 2),
 ('python', 6),
 ('programming', 11)]

In [22]:
result = [(i, len(i)) for i in s.split()]

In [23]:
result

[('Welcome', 7),
 ('to', 2),
 ('the', 3),
 ('world', 5),
 ('of', 2),
 ('python', 6),
 ('programming', 11)]

### Example 5:

- Write a program which will find all such numbers which are divisible by 7
- but are not a multiple of 5, between 200 and 320 (both included).
- The numbers obtained should be printed in a comma-separated
- sequence on a single line.

#### Hints:
#### Consider use range(#begin, #end) method

In [24]:
r = range(200,321)

result1 = []

In [25]:
# Approach 1: without LC

for i in r:
    if i % 7 == 0 and i % 5 != 0:
        result1.append(i)

In [26]:
result1

[203, 217, 224, 231, 238, 252, 259, 266, 273, 287, 294, 301, 308]

In [27]:
# Approach 2: with LC

result = [i for i in r if i % 7 == 0 and i % 5 != 0]

In [28]:
result

[203, 217, 224, 231, 238, 252, 259, 266, 273, 287, 294, 301, 308]

## Join Function

In [29]:
#for i in range(200,321):
#    if i % 7 == 0 and i % 5 != 0:
#        result1.append(str(i))
#print(','.join(result1))

In [30]:
#print(",".join([str(item) for item in range(200, 321) if item % 7 ==0 and item % 5 != 0]))

# Dictionary Comprehension

## Example 1:

In [31]:
# Take any number as input from the user
# and create a dict like below
# n = 5
# {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [43]:
number = int(input('Enter any number: '))

Enter any number: 5

In [33]:
result = {item : item * item for item in range(1, number+1)}

In [34]:
result

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [44]:
result = {item : item ** item for item in range(1, number+1)}

In [45]:
result

{1: 1, 2: 4, 3: 27, 4: 256, 5: 3125}

### Example 2:

In [37]:
s = "the quick brown fox jumps over the lazy dog"

In [38]:
result = {i : s.count(i) for i in s}

In [39]:
result

{'t': 2,
 'h': 2,
 'e': 3,
 ' ': 8,
 'q': 1,
 'u': 2,
 'i': 1,
 'c': 1,
 'k': 1,
 'b': 1,
 'r': 2,
 'o': 4,
 'w': 1,
 'n': 1,
 'f': 1,
 'x': 1,
 'j': 1,
 'm': 1,
 'p': 1,
 's': 1,
 'v': 1,
 'l': 1,
 'a': 1,
 'z': 1,
 'y': 1,
 'd': 1,
 'g': 1}