In [1]:
import numpy as np
import pandas as pd

# Labels

In [2]:
labels = ['a', 'b', 'c']

### 1. Series of list

In [3]:
numbers = [10, 20, 30]

In [4]:
# Without labels

new_series = pd.Series(numbers)
new_series

0    10
1    20
2    30
dtype: int64

In [5]:
# With labels

labeled_list_series = pd.Series(numbers, index = labels)
labeled_list_series

a    10
b    20
c    30
dtype: int64

In [6]:
labeled_list_series.index

Index(['a', 'b', 'c'], dtype='object')

### 2. Series of arrays

In [7]:
arr = np.array([11,22,33])

In [8]:
labeled_arr_series = pd.Series(arr, index = labels)
labeled_arr_series

a    11
b    22
c    33
dtype: int32

### 3. Series of dictionary

In [9]:
dictionary = {'a' : 10, 'b' : 20, 'c' : 30}

In [10]:
dictionary, type(dictionary)

({'a': 10, 'b': 20, 'c': 30}, dict)

In [11]:
dictionary_Series = pd.Series(dictionary)

In [12]:
dictionary_Series

a    10
b    20
c    30
dtype: int64

In [13]:
d = {"India": "Delhi", "Srilanka": "Colombo", "Australia": "Sydney"}

In [14]:
# It will give normal output if we don't assign labels. The keys here acts as index/label only

d_Series = pd.Series(d)

In [15]:
d_Series

India          Delhi
Srilanka     Colombo
Australia     Sydney
dtype: object

In [16]:
# It will give nan output because there's no information associated with the labels

d_Series1 = pd.Series(d, index = labels)

In [17]:
d_Series1

a    NaN
b    NaN
c    NaN
dtype: object

In [18]:
d = {"a": "Delhi", "Srilanka": "Colombo", "Australia": "Sydney"}

In [19]:
d_Series2 = pd.Series(d)
d_Series2

a              Delhi
Srilanka     Colombo
Australia     Sydney
dtype: object

In [20]:
# Inshort we can say, we can create a series out of dictionary but we can't assign index for the series made out of dictioanry

In [21]:
s_example = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])

In [22]:
s_example

d    4
b    7
a   -5
c    3
dtype: int64

In [23]:
s_example.values

array([ 4,  7, -5,  3], dtype=int64)

In [24]:
s_example.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [25]:
s_example['d']

4

In [26]:
s_example['d'] = 100

In [27]:
s_example

d    100
b      7
a     -5
c      3
dtype: int64

## Boolean operator

In [28]:
s_example > 0

d     True
b     True
a    False
c     True
dtype: bool

In [29]:
s_example[s_example > 0]

d    100
b      7
c      3
dtype: int64

## in operator

In [30]:
"d" in s_example

True

In [31]:
100 in s_example    # False because in operator checks for key not value

False

In [32]:
100 in s_example.values

True

In [33]:
s_example.values

array([100,   7,  -5,   3], dtype=int64)